button {
  width: 10em;
  height: 2em;
  margin: 2%;
  background: #8ca3a3;
  color: white
}

#app {
  width: 200px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 75%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-family: "Avenir Next"
}
